[MESSAGES CONTROL]

disable=
  unused-wildcard-import,
  # Ignore refactor and convention categories
  R,
  C
  # Allow TODO and FIXME comments
  fixme,
  # Ignore unnecessary-lambda because it has many false positives from hl.ArrayExpression.map, etc.
  unnecessary-lambda,

ignore-paths=^gnomad_qc/v2/.*$
