name: CI
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  pylint:
    name: Pylint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Setup Python 3.11
        uses: actions/setup-python@v2
        with:
          python-version: 3.11
      - name: Use pip cache
        uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: pip-${{ hashFiles('**/requirements*.txt') }}
          restore-keys: |
            pip-
      - name: Install dependencies
        run: |
          pip install wheel
          pip install -r requirements.txt
          pip install -r requirements-dev.txt
      - name: Check formatting
        run: black --check gnomad_qc
      - name: Check imports
        run: isort --check-only gnomad_qc
      - name: Check comment formatting
        run: autopep8 --exit-code --diff gnomad_qc
      - name: Run Pylint
        run: ./lint --disable=W
      - name: Check docstrings
        run: pydocstyle --match-dir='(?!v2|cuKING).*' gnomad_qc
